body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #343a40;
}

header {
    background-color: #2ecc71; 
    text-align: center;
    padding: 20px;
}

header h1 {
    color: white;
    font-size: 2em;
    margin: 0;
}

.container {
    padding: 20px;
}

h2 {
    color: #2ecc71;
    margin-bottom: 20px;
}

h3 {
    color: #27ae60;
}

p, ul {
    font-size: 1em;
    line-height: 1.6;
}

.dropdown-item {
    cursor: pointer;
}

footer {
    background-color: #2ecc71;
    padding: 20px;
    color: #f9f9f9;
}

footer p {
    margin: 0;
}
